<div class="new-comment">
    <form action="Comment.php" method="post">
        <input type="text" name="email">
        <input type="text" name="name">
        <textarea name="text" id="new-comment-texarea" cols="30" rows="3"></textarea>
        <input type="submit" name="Publish">
    </form>
</div>

